@import "./variables/variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: px-to-rem(16px);
  font-family: $font-common;
  margin: 0;
  padding: 0;
  min-width: 320px;
}